html {
    margin: 0;
    padding: 0;
}
body {
    background-color: beige;

}

header {
    background-color: lightblue;
    padding: 50px;
    text-align: center;
}

.home a {
    text-decoration: none;
    color: darkblue;
    padding-left: 120px;
    padding-right: 120px;
    font-family: "ice-cream-standard", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

h1 {
    float: right;
    margin-right: 390px;
    color: #9ccfce;
    /* padding-right: 350px; */
    margin-top: 150px;
    /* background-color: aqua; */
}

#aboutlink {
    float: right;
    /* padding-right: 320px; */
    background-color: #d3edc5;
    text-decoration: none;
    /* width: 400px; */
    text-align: center;
    margin-right: 360px;
    margin-top: -130px;
    padding: 10px 10px;
    border-radius: 8px;
    font-family: "ice-cream-standard", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

p {
    float: right;
    text-align: justify;
    padding-left: 700px;
    padding-right: 200px;
    margin-top: -300px;
}

#cat {
    float: left;
    margin-left: 200px;
    margin-top: 130px;
    border-radius: 8px;
    width: 400px;
    border: solid 5px darkblue;
}