html {
    margin: 0;
    padding: 0;
}
body {
    background-color: beige;

}

header {
    background-color: lightblue;
    padding: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    color: darkblue;
    padding-left: 120px;
    padding-right: 120px;
}

h1 {
    margin-left: 100px;
}

h2 {
    float: right;
    margin-right: 600px;
    margin-top: 50px;
}

p {
    float: right;
    text-align: justify;
    margin-left: 620px;
    margin-right: 50px;
}